fastapi==0.95.0
uvicorn==0.21.1
pydantic==1.10.7
sqlalchemy==2.0.9
firebase-admin==6.1.0
alembic==1.10.3
python-dotenv==1.0.0
email-validator==2.0.0
requests==2.28.2
python-multipart==0.0.6
cryptography==40.0.1
pytz==2023.3
psycopg2-binary==2.9.6  # For PostgreSQL support
PyJWT
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
loguru
httpx
pytest
reportlab
selenium==4.13.0
webdriver-manager==4.0.0